.devices-cont {
    width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #141414;
    border-radius: 8px;

}


.devices-cont .input-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 13.5rem;
    min-width: 13.5rem;
    padding-left: 10px;
    height: 2rem;
    margin: 10px 0px;
}
.device-name{
    background-color: #202020;
    color: #feffff;
    font-family: 'lato';
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 5px;
}

.devices-cont .input-cont input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: #feffff;
    font-size: 15px;
    font-family: 'lato';
    padding-left: 10px;
    border: none;
    /* width: 170px; */
}

.devices-cont .input-cont input:focus {
    outline: none;
}

.devices-cont .input-cont button {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 10px rgb(193, 193, 193);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.devices-cont .input-cont button:hover {
    box-shadow: 0px 0px 10px rgb(131, 131, 131);
    cursor: pointer;
}
.input-cont input{
    max-width: 14.5rem;
    min-width: 14.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 5px!important;
}
.input-cont{
    border: 2px solid #feffff;
    border-radius: 5px!important;
}

.devices-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: aqua; */
    width: 300px;
    /* display: none; */
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
}




.devices-list::-webkit-scrollbar {
    width: 4px;
}

.devices-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(163, 48, 48, 0);
}

.devices-list::-webkit-scrollbar-thumb {
    background-color: orangered;
    outline: none;
    border-radius: 20px;
}



.device-item {
    margin: 5px;
    background-color: white;
    width: 14rem;
    min-height: 2.3rem;
    max-height: 2.3rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-item button {
    display: none;
}

.device-item p {
    padding-left: 10px;
    font-family: 'lato';

}


.device-item:hover {
    box-shadow: 0px 0px 5px rgba(129, 129, 129, 0.251);
}

.device-item-active {
    background-color: #171717;
    color: white;
}

.device-item-active button {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.device-item-active button svg {
    width: 100%;
    height: 100%;
}

.issue-title{
    color: #feffff;
    font-family: 'lato';
    font-size: 30px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


@media screen and (max-width:416px) {
    .devices-cont{
        height: 450px;
        width: 330px;
    }
}