.card{
    margin:2rem 0;
    min-height: 12rem;
    width: 20rem;
    background-color: #1a1a1d;
    border-radius: 5px;
    color: #feffff;
}

.card-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'aboreto';
    margin: 19px 0;
}

.card-desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-desc p{
    padding: 0 15px;
    font-family: 'lato';
    font-weight: bold;
    font-size: 23px;
}

.card-perm{
    width: 100%;
    font-size: 15px;
    font-family: 'lato';
    color: gray;
    padding-left: 15px;
    margin-top: 17px;
    margin-bottom: 12px;
}

.card-code{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-code p{
    background-color: #feffff;
    color: #1a1a1d;
    width: 13rem;
    margin-top: 16px;
    height: 1.8rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'lato';
    font-size: 18px;
}